<header>
    <div class="mobile-toggle" id="mobile-toggle">
        ☰
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/pages/noticias.html">Notícias</a></li>
            <li><a href="/pages/reviews.html">Reviews</a></li>
            <li>
                <a href="/pages/games.html">Games</a>
                <ul>
                    <li><a href="/pages/pc.html">PC</a></li>
                    <li>
                        <a href="/pages/playstation.html">PlayStation</a>
                        <ul>
                            <li><a href="/pages/ps4.html">PS4</a></li>
                            <li><a href="/pages/ps5.html">PS5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/pages/tecnologia.html">Tecnologia</a></li>
            <li>
                <button id="theme-toggle">🌙</button>
            </li>
        </ul>
    </nav>
</header>